body{
    display: flex;
    background-color: black;
    color: white;
    align-items:center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header,.footer{
    background:brown;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    padding: 8px auto;
    margin: 0;
    width: 100%;
    font-family: 'Tektur', sans-serif;
    font-size: 30px;
}

.header{
    font-size: 80px;
    max-height: 160px;
}

.buttons{
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content:center;
    gap: 100px;
    margin: 200px auto;
    
}

.buttons button{
    border:5px solid royalblue;
    border-radius: 20px;
    padding: 5px;
    flex: 1;
}

.footer{
    flex: 1;
}

